@page "/"
@using System.Net.Http.Json
@inject HttpClient Http
@using Newtonsoft.Json

<h3>Bem-vindo ao sistema de gestão de fornecedores e produtos</h3>

@code {
    // Adicione código necessário para a página inicial
}
